@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.icon-sm {
    @apply w-5 h-5
}


.btn-circle svg {
    @apply w-5 h-5
}

.btn-circle.loading svg {
    @apply hidden
}